[submodule "discovery-server"]
	path = discovery-server
	url = https://github.com/ajisrael/control-tower-discovery-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/ajisrael/control-tower-api-gateway.git
[submodule "product-service"]
	path = product-service
	url = https://github.com/ajisrael/control-tower-product-service.git
[submodule "inventory-service"]
	path = inventory-service
	url = https://github.com/ajisrael/control-tower-inventory-service.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/ajisrael/control-tower-user-service.git
