[submodule "discovery-server"]
	path = discovery-server
	url = https://github.com/ajisrael/control-tower-discovery-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/ajisrael/control-tower-api-gateway.git
[submodule "product-service"]
	path = product-service
	url = https://github.com/ajisrael/control-tower-product-service.git
[submodule "inventory-service"]
	path = inventory-service
	url = https://github.com/ajisrael/control-tower-inventory-service.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/ajisrael/control-tower-user-service.git
[submodule "payment-service"]
	path = payment-service
	url = https://github.com/ajisrael/control-tower-payment-service.git
[submodule "address-service"]
	path = address-service
	url = https://github.com/ajisrael/control-tower-address-service.git
[submodule "orders-service"]
	path = orders-service
	url = https://github.com/ajisrael/control-tower-orders-service.git
[submodule "core"]
	path = core
	url = https://github.com/ajisrael/control-tower-core.git
